/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color:#fff;
  text-align: center;
  overflow-x: hidden;
}
a{
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

/* PARALLAX EFFECT 
-------------------------------------------------- */
.para {
z-index:-2;
position:fixed;
bottom:0;
height: 100%;
/* max-height: 600px; */
width: 2000px;
background-image:		
  url('images/Parallax/Smoke.png'),
  url('images/Parallax/2.png'),
  url('images/Parallax/3.png'),
  url('images/Parallax/4.png'),
  url('images/Parallax/5.png'),
  url('images/Parallax/6.png'),
  url('images/Parallax/bg.png');
background-repeat: repeat-x;
background-position: 
  0 40%,
  0 20%,
  0 60%,
  0 70%,
  0 80%,
  0 90%,
  0 0;
animation: 30s para infinite linear;
}

@keyframes para {
100% {
  background-position: 
    -1000px 20%,
    -800px 50%,
    500px 50%,
    1000px 80%,
    400px 70%,
    500px 100%,
    1000px 0;
  }
}

/* NavBAR */

.mylogo {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 20s; /* don't forget to set a duration! */
  animation-iteration-count: infinite;
}
/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}
/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.me-2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.nav-head {
  padding:2% 3% 4%;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  font-size: 1.2rem;
  color:#fff;

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;

}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 1028px) {
  #title {
      text-align: center;
  }
  .mylogo {
    position: static;
    width: 50%;
    height:50%;
  }
  .myText {
    position: static;
    width: 80%;
    height: 80%;
  }
  .carousel-image img {
    position:static;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
  }
}

/*Contact
-------------------------------------------------- */
#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0px;
}
.form{
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}
.row1{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}
.row2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.row input, .row2 textarea, .row1 input{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: rgb(5, 5, 5);
  background: #fffefe;
  font-size: 15px;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);
  border-radius: 5px;
}
.row2 textarea{
  resize: none;
  height: 200px;
}
.row2 input[type='submit']{
  height: 40px;
  margin: 10px;
  width: 150px;
  line-height: 43px;
  padding: 0 40px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  font-family: 'Asap';
}
.row2 input[type='submit']:hover{
  color: rgb(1, 1, 1);
  background-color: rgb(247, 244, 244);
  box-shadow: inset 0px 2px 4px rgba(0,255,255,0.3), 
              inset 0px 4px 8px rgba(0,255,255,0.3), 
              inset 0px 8px 16px rgba(0,255,255,0.3);
  transition: 0.2s;
  transform: translateY(2px);
}

/* Partners 
-------------------------------------------------- */
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.press-logo {
  margin: 20px 30px;
}
/* Download Button */
.download-btn {
  margin: 5% 3% 5% 0;
}
/* Footer section */
.social-icons {
    margin: 20px 10px;
}
.no-bg {
  padding:5%
}